
.l01d {
    background: url("/backgrounds/01d.jpg");
    background-position: center;
}

.l01n {
    background: url("/backgrounds/01n.jpg");
}

.l02d {
    background: url("/backgrounds/02d.jpg");
}

.l02n {
    background: url("/backgrounds/02n.jpg");
}

.l03d {
    background: url("/backgrounds/03d.jpg");

}

.l03n {
    background: url("/backgrounds/03n.jpg");

}

.l04d {
    background: url("/backgrounds/04d.jpg");

}

.l04n {
    background: url("/backgrounds/04n.jpg");

}

.l09d {
    background: url("/backgrounds/09d.jpg");

}

.l09n {
    background: url("/backgrounds/09n.jpg");

}

.l10d {
    background: url("/backgrounds/09d.jpg");

}

.l10n {
    background: url("/backgrounds/09n.jpg");

}

.l11d {
    background: url("/backgrounds/11d.jpg");

}

.l11n {
    background: url("/backgrounds/11n.jpg");

}

.l13d {
    background: url("/backgrounds/13d.jpg");

}

.l13n {
    background: url("/backgrounds/13n.jpg");

}

.l50d{
    background: url("/backgrounds/50d.jpg");

}

.l50n {
    background: url("/backgrounds/50d.jpg");

}
